<a href="https://colab.research.google.com/github/ElixerofCoding144/Data-Science/blob/main/NLP/SMS_spam_collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#install kaggle
!pip install -q kaggle

In [ ]:
#uploading files
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"antarachakrabarti","key":"07bad58af59af4887e5b87f85244e6c8"}'}

In [ ]:
#create a kaggle folder
!mkdir ~/.kaggle

In [ ]:
#copy the kaggle.json to folder created
! cp kaggle.json ~/.kaggle/

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              235KB  2021-09-18 20:49:48          12455
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01           7526
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           3176
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           1406
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-07-03 18:37:20           2937
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           1942
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23           1169
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04            949
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            339
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47            838
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37            899
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            350
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            206
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            140
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            132
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            140
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         151006
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         143990
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          27072
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          21890

In [ ]:
!kaggle datasets download -d uciml/sms-spam-collection-dataset

Downloading sms-spam-collection-dataset.zip to /content
  0% 0.00/211k [00:00<?, ?B/s]
100% 211k/211k [00:00<00:00, 31.6MB/s]

In [ ]:
!unzip sms-spam-collection-dataset.zip

Archive:  sms-spam-collection-dataset.zip
  inflating: spam.csv

In [ ]:
import pandas as pd
#reading the data
data = pd.read_csv("spam.csv",encoding="ISO-8859-1")
data.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [ ]:
#expanding the dispay of text sms column
#pd.set_option('display.max_colwidth', 0)
#using only v1 and v2 column
data= data [['v1','v2']]
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
#checking the count of the dependent variable
data['v1'].value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [ ]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree
#storing the puntuation free text
data['clean_msg']= data['v2'].apply(lambda x:remove_punctuation(x))
data.head()

     v1  ...                                          clean_msg
0   ham  ...  Go until jurong point crazy Available only in ...
1   ham  ...                            Ok lar Joking wif u oni
2  spam  ...  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  ...        U dun say so early hor U c already then say
4   ham  ...  Nah I dont think he goes to usf he lives aroun...

[5 rows x 3 columns]

In [ ]:
data['msg_lower']= data['clean_msg'].apply(lambda x: x.lower())
data.head()

     v1  ...                                          msg_lower
0   ham  ...  go until jurong point crazy available only in ...
1   ham  ...                            ok lar joking wif u oni
2  spam  ...  free entry in 2 a wkly comp to win fa cup fina...
3   ham  ...        u dun say so early hor u c already then say
4   ham  ...  nah i dont think he goes to usf he lives aroun...

[5 rows x 4 columns]

In [ ]:
import re
def tokenization(text):
    tokens = re.split('\W',text)
    return tokens
#applying function to the column
data['msg_tokenied']= data['msg_lower'].apply(lambda x: tokenization(x))
#tokenization("go until jurong point crazy available only in")
data.head()

     v1  ...                                        msg_stemmed
0   ham  ...  [go until jurong point crazy available only in...
1   ham  ...                          [ok lar joking wif u oni]
2  spam  ...  [free entry in 2 a wkly comp to win fa cup fin...
3   ham  ...      [u dun say so early hor u c already then say]
4   ham  ...  [nah i dont think he goes to usf he lives arou...

[5 rows x 7 columns]

In [ ]:
from nltk.tokenize import word_tokenize
nltk.download('punkt')
text="Hello there! Welcome to the programming world."
print(word_tokenize(text))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
['Hello', 'there', '!', 'Welcome', 'to', 'the', 'programming', 'world', '.']

In [ ]:
#importing nlp library
import nltk
nltk.download('stopwords')
#Stop words present in the library
stopwords = nltk.corpus.stopwords.words('english')
stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [ ]:
def remove_stopwords(text):
    output= [i for i in text if i not in stopwords]
    return output

In [ ]:
data['no_stopwords']= data['msg_tokenied'].apply(lambda x:remove_stopwords(x))

In [ ]:
from nltk.stem.porter import PorterStemmer
#defining the object for stemming
porter_stemmer = PorterStemmer()

In [ ]:
def stemming(text):
      stem_text = [porter_stemmer.stem(word) for word in text]
      return stem_text
data['msg_stemmed']=data['no_stopwords'].apply(lambda x: stemming(x))

In [ ]:
data.head()

     v1  ...                                        msg_stemmed
0   ham  ...  [go until jurong point crazy available only in...
1   ham  ...                          [ok lar joking wif u oni]
2  spam  ...  [free entry in 2 a wkly comp to win fa cup fin...
3   ham  ...      [u dun say so early hor u c already then say]
4   ham  ...  [nah i dont think he goes to usf he lives arou...

[5 rows x 7 columns]

In [ ]:
from nltk.stem import WordNetLemmatizer
#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()

In [ ]:
#defining the function for lemmatization
def lemmatizer(text):
lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
    return lemm_text
data['msg_lemmatized']=data['no_stopwords'].apply(lambda x:lemmatizer(x))